body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #03070d;
}
.window {
  position: fixed;
  width: 80%;
  max-width: 400px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  color: #a6c1d2;
  background-color: #0b0d13;
  z-index: 1000;
  border-radius: 20px;
}
.window-content {
  width: 100%;
  height: 80%;
  overflow: auto;
  font-size: 1em;
}
.window-content h1 {
  margin-top: 0;
}
.window-content h3 {
  margin-bottom: 0;
}
.window-content p {
  overflow: auto;
}
.close-window {
  height: 50px;
  padding: 1em;
  text-align: center;
}
.close-window button {
  padding: 0.5em;
  font-size: 1.25em;
  border-radius: 10px;
}
button {
  color: #cfedff;
  font-weight: bold;
  background-color: #314561;
  outline: 0;
  border: 0;
}
button:hover {
  background-color: #526886;
  transition: 0.1s ease-in-out;
}
button h2 {
  margin-top: 8px;
}
#menu {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 2000;
}
.circle-button {
  margin-left: 10px;
  margin-top: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  border-radius: 20px;
}
a:link {
  color: #3d77ca;
  text-decoration: none;
}
a:visited {
  color: #3d77ca;
  text-decoration: none;
}
a:hover {
  color: #a99521;
  text-decoration: underline;
}
a:active {
  color: #a99521;
  text-decoration: underline;
}
.legend {
  padding: 0;
}
.legend li {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
.legend .row-left {
  width: 70%;
}
.legend .row-left p {
  margin: 0px;
  margin-left: 3px;
}
.legend .color {
  width: 100%;
  height: 6px;
  margin-top: 3px;
  border-radius: 3px;
}
.legend .row-right {
  position: relative;
  width: 30%;
  bottom: 0;
}
.legend .row-right p {
  position: absolute;
  margin: 0;
  margin-left: 8px;
  bottom: 0;
}
.mapboxgl-ctrl-group {
  background: #314561;
}
.mapboxgl-ctrl-group button+button {
  border-top: 1px solid #000;
}
.mapboxgl-ctrl button:not(:disabled):hover {
  background-color: #526886;
  transition: 0.1s ease-in-out;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M10 13c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h9c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-9z'/%3E%3C/svg%3E");
}
.mapboxgl-ctrl button.mapboxgl-ctrl-compass .mapboxgl-ctrl-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 29 29' xmlns='http://www.w3.org/2000/svg' fill='white'%3E%3Cpath d='M10.5 14l4-8 4 8h-8z'/%3E%3Cpath d='M10.5 16l4 8 4-8h-8z' fill='black'/%3E%3C/svg%3E");
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #03070d;
}
.mapboxgl-popup-content {
  color: white;
  font-weight: bold;
  background-color: #03070d;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .8);
}
.mapboxgl-popup-content .name {
  margin: 0;
  margin-bottom: 0.5em;
}
.mapboxgl-popup-content .width {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 2.5em;
}
.mapboxgl-popup-content .message {
  margin: 0;
  margin-bottom: 0.2em;
  font-size: 1.5em;
}
