# Don't track content of these folders
data/bronx/
data/brooklyn_queens/
data/manhattan/
data/staten_island/
data/nyc/
notebooks/boroughs/

# Don't track these files
credentials.txt
notebooks/.ipynb_checkpoints
assets/favicon.ai
